/* admin-teaching.css */

/* Content container styling */
.content-container {
    margin-top: 20px;
    background-color: #f8f9fa; /* Light background color for contrast */
    padding: 20px;
    border-radius: 10px;
}

/* Form section styling */
.form-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.form-section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

.form-group input[type="file"] {
    padding: 5px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Display section styling */
.display-section {
    text-align: center;
    margin-top: 40px;
}

.display-section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

/* Media gallery styling */
#mediaGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Media item styling */
.media-item {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.media-item img,
.media-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.media-item h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
    color: #333;
    padding: 0 10px;
}

.media-item p {
    font-size: 1em;
    color: #666;
    margin: 0 10px 10px;
}
